/* (A) WHOLE PAGE */
:root {
  --bg-color-a: #3b39af; /* page header + form label */
  --bg-color-b: #404040; /* calendar header */
  --bg-color-c: #d73a3a; /* buttons */
}

/* (B) PERIOD SELECTOR */
#calHead { background: var(--bg-color-a); }
#calHead input, #calHead button, #calHead select {
  border: 0; outline: none;
  color: #fff; background: 0;
  cursor: pointer;
}
#calMonth, #calYear { font-size: 20px; }
#calMonth option { color: #000; }
#calYear { width: 100px; }

/* (C) CALENDAR */
/* (C1) ROWS */
#calDays, .calRowHead, .calRowBack { display: flex; }
#calDays, .calRow, .calRowHead, .calRowEvt {
  position: relative;
  width: 100%;
}
.calRow { min-height: 100px; }
.calRowHead, .calRowEvt { z-index: 2; }
.calRowBack {
  position: absolute;
  top: 0; left: 0; z-index: 1;
  width: 100%; height: 100%;
}
.calRowEvt {
  padding: 3px 10px;
  margin-top: 5px;
  font-size: 12px;
  white-space: nowrap; text-overflow: ellipsis;
  overflow: hidden; cursor: pointer;
  border-radius: 10px;
}

/* (C2) CELLS & EVENTS */
.calCell { width: 14.2857%; }
.w1 { width: 14.2857%; } .w2 { width: 28.5714%; } .w3 { width: 42.8571%; }
.w4 { width: 57.1428%; } .w5 { width: 71.4285%; } .w6 { width: 85.7142%; }
.w7 { width: 100%; }
.o1 { left: 14.2857%; } .o2 { left: 28.5714%; } .o3 { left: 42.8571%; }
.o4 { left: 57.1428%; } .o5 { left: 71.4285%; } .o6 { left: 85.7142%; }
#calDays .calCell {
  color: #fff; background: var(--bg-color-b);
  font-weight: 700; text-align: center;
  padding: 15px 0;
}
.calRowHead .calCell {
  font-size: 14px;
  font-weight: 700;
  color: #b5b5b5;
  padding: 5px;
}
.calRowHead .calCellDay:hover {
  color: #ff5b5b;
  cursor: pointer;
}
.calRowBack .calCell { border: 1px solid #eee; }
.calBlank { background: #f5f5f5; }
.calToday { background: #feffd3; }

/* (D) EVENT FORM */
#calForm {
  position: fixed; top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  padding: 0; margin: 0; border: 0;
  background: rgba(0,0,0,0.5);
}
#calForm:is([open]), #calForm form {
  display: flex; flex-wrap: wrap;
  align-items: center; justify-content: center;
}
#calForm form {
  position: relative;
  width: 450px; padding: 15px;
  border-radius: 10px;
  background: #fff;
}
#evtCX {
  position: absolute;
  top: 0; right: 0;
  color: var(--bg-color-c);
  cursor: pointer;
}