/* (A) WRAPPER */
.lidiWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  padding: 15px;
  background: #f3f3f3;
}
.lidiWrap.count { width: 250px; }

/* (B) LIKE-DISLIKE BUTTONS */
.lidiUp, .lidiDown {
  width: 24px; height: 24px;
  background-image: url("lidi.png");
  cursor: pointer;
}
.lidiDown { background-position: -48px; }
.lidiUp.set { background-position: -24px; }
.lidiDown.set { background-position: -72px; }

/* (C) LIKE-DISLIKE COUNT */
.lidiUpCount, .lidiDownCount {
  font-size: 18px;
  color: #858585;
}